<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe-leon</title>
</head>

<body>
    <form action="{% url 'checkout' %}" method="POST">
       {% csrf_token %}
       <article>
           <label>
               <span>Monto de $10.00 a $100.00</span>
            </label>
       </article>
       <script src="https://checkout.stripe.com/checkout.js" 
           class="stripe-button"
           data-key = "{{ key }}"
           data-image = "https://tinyurl.com/y3zspzmv"
           data-amount="1000"
           data-locale="auto">
       </script>
   </body>
</html>